:root {
    /*Fonts*/
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    
    /*Text color*/
    --main-txt-color: #212121;
    --accent-txt-color: #2196F3;
    --logo-txt-color: #000000;
    --white-txt-color: #FFFFFF;
    --grey-txt-color: #757575;
    --btn-txt-color: #188CE8;

    /*Background color*/ 
    --light-color: #EEEEEE;
    --darkgrey-color: #2F303A;
    --header-color: #ECECEC;
    --block-color: #F5F4FA;

    /*Other*/
}
body {
    font-family: var(--main-font);
    color: var(--main-txt-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color:var(--white-txt-color);
}  

.list, .list-item, .link-address, .footer-link, .logo-footer {
    list-style: none;
    text-decoration: none;
}

.link-address {
    color: var(--grey-txt-color);
}

.link-address:hover,
.link-address:focus {
    color: var(--accent-txt-color);
}

.list-item .link {
    font-family: Roboto;
    font-style: Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: var(--logo-txt-color);
}

.list-item .link:hover,
.list-item .link:focus {
    color: var(--accent-txt-color);
}

.btn {
    height: 50px;
    width: 216px;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--white-txt-color);
    background-color: var(--accent-txt-color);
}

.btn:hover,
.btn:focus {
    background-color: var(--btn-txt-color);
}

.btn-text-all {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    color: var(--white-txt-color);
    background-color: var(--accent-txt-color);
}

.btn-text-all:hover,
.btn-text-all:focus {
    background-color: #2196F3;
}

.btn-text {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    background-color: var(--block-color);
    color: var(--main-txt-color);
    
}

.btn-text:hover,
.btn-text:focus {
    color: var(--white-txt-color);
    background-color: var(--accent-txt-color);
}

.header-logo{
    font-family: var(--secondary-font);
    Font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;
    color: var(--accent-txt-color);
}

.header-logo span {
    font-family: var(--secondary-font);
    Font-style: Bold;
    Font-size: 26px;
    Line-height: calc(31 / 26);
    color: var(--logo-txt-color);
}

.main-title {
    font-size: 44px;
    font-weight: 900;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-txt-color);
}

.section-body {
    background-color: #2F303A;
}

.section-title {
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-title-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
}

.subtitle-portfolio {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--grey-txt-color); 
}

.subtitle {
    line-height: calc(24 / 14);
    color: #757575;
}

.section-subject {
    font-size: 36px;
    font-weight: 700;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    /* text-align: center; */
}

.section-user-title {
    font-size: 16px;
    font-weight: 500;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    /* text-align: center; */
}

.section-user-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    /* text-align: center; */
    color: #757575;
}

.footer-logo {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: calc(36 / 26);
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--accent-txt-color);
}

.logo-footer .span {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 400;
    line-height: calc(36 / 26);
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--white-txt-color);
}

.logo-footer {
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--accent-txt-color);
}

.footer {
    background-color: #2F303A;
}

.footer-link {
    font-style: normal;
    color: var(--white-txt-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-txt-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-team {
    background: var(--block-color);
}

