:root {
  /*Fonts*/
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /*Text color*/
  --main-txt-color: #212121;
  --accent-txt-color: #2196f3;
  --logo-txt-color: #000000;
  --white-txt-color: #ffffff;
  --grey-txt-color: #757575;
  --btn-txt-color: #188ce8;

  /*Background color*/
  --light-color: #eeeeee;
  --darkgrey-color: #2f303a;
  --header-color: #ececec;
  --block-color: #f5f4fa;

  /*Other*/
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-txt-color);
  outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list-item,
.nav-link,
.address-link,
.footer-link,
.logo-footer,
.list-item-benefits,
.list-forvard-img,
.team-list-item,
.list-item-footer {
  list-style: none;
  text-decoration: none;
}

.section {
  padding: 94px 0px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

/**
  |============================
  | Header
  |============================
*/

.header-conteiner {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 93px;
  padding: 24px 0px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  text-decoration: none;
  color: var(--accent-txt-color);
}

.header-logo span {
  font-family: var(--secondary-font);
  font-style: Bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--logo-txt-color);
}

.list-header {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-link {
  font-style: Medium;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--logo-txt-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-color);
}

.current {
  color: var(--accent-txt-color);
}

.list-item:last-child {
  margin-right: 0px;
}

/**
  |============================
  | Main
  |============================
*/

.hero {
  padding: 200px 0px;
  background-color: #2f303a;
  /* height: 600px; */
  text-align: center;
}

.main-title {
  width: 696;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-txt-color);
}

.work {
  padding-top: 0px;
}

.btn {
  min-width: 216px;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-txt-color);
  background-color: var(--accent-txt-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-txt-color);
}

.btn-text-all {
  width: 73px;
  height: 38px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: var(--white-txt-color);
  background-color: var(--accent-txt-color);
}

.btn-text-all:hover,
.btn-text-all:focus {
  background-color: #2196f3;
}

.btn-text {
  padding: 0px 10px;
  height: 38px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  background-color: var(--block-color);
  color: var(--main-txt-color);
}

.btn-text:hover,
.btn-text:focus {
  color: var(--white-txt-color);
  background-color: var(--accent-txt-color);
}

.address-link {
  font-style: normal;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--grey-txt-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-txt-color);
}

.section-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.subtitle-portfolio {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--grey-txt-color);
}

.subtitle {
  line-height: calc(24 / 14);
  color: #757575;
}

.section-subject {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}

.section-user-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  /* text-align: center; */
}

.section-user-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  /* text-align: center; */
  color: #757575;
}

.logo-footer .span {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 400;
  line-height: calc(36 / 26);
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-txt-color);
}

.logo-footer {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--accent-txt-color);
}

.footer {
  background-color: #2f303a;
}

.footer-link {
  font-style: normal;
  color: var(--white-txt-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team {
  background: var(--block-color);
}

.effective-conteiner {
}

.benefits-conteiner {
}

.list-forvard-img {
  display: flex;
  gap: 30px;
}

.list__wrapper__benefits {
  display: flex;
  gap: 30px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.section-footer {
  padding: 60px 0px;
}

.team-conteiner {
  text-align: center;
}

.list__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.section__menu {
  margin-bottom: 56px;
}

.team-list-item {
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-padd {
  padding: 30px 0px;
}

.list-item-footer {
  margin-bottom: 9px;
}

.contacts-address {
  padding-top: 20px;
}
